page-registro-lugares {

}

.buttonLogin{
    width: 100%;
    /* background: #FF9012; */
    /* border: 1px solid #ff9012; */
    font-weight: 500;
    border-radius: 28px;
    color: #fff;
    text-decoration: none;
    height: 40px;
    font-size: 1.2em;
}