page-sliders {
    .toolbar-background {
        background: transparent;
        border-color: transparent;
    }
    .slide-zoom {
        height: 100%;
    }
    .slide-title {
         margin-top: 2.8rem;
    }
    .slide-image {
        max-height: 50%;
        max-width: 60%;
        margin: 36px 0;
    }
    b {
        font-weight: 500;
    }
    p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;

        b {
          color: #000000;
        }
    }
    .bg-img {
        background-image: url(../assets/img/bg1.jpg);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .imgLugar{
        width: 40%;
    }
}

.skipButton{
    background: #488aff;
      border: 1px solid #488aff;
      font-weight: 500 !important;
      border-radius: 28px;
      color: #fff;
      text-decoration: none;
      height: 37px !important;
      font-size: 1.2em !important;
      -webkit-box-shadow: 1px 3px 21px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px 3px 21px -1px rgba(0,0,0,0.75);
      box-shadow: -1px 4px 20px -1px rgba(0,0,0,0.4);
      right: 2%;
      position: absolute;
      top: 1%;
      padding-left: 3% !important;
      padding-right: 3% !important;
      z-index: 100;
  }